*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0AKW5PPC5GZpk8OS4eruCNEIOWA=
